<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">

                <!-- Logo -->
                <a class="nav-brand" href="index.html"><img src="{{ asset('build/images/logo.png') }}" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li{# class="current-item"#}><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('patent_index') }}">Patients</a></li>
                        </ul>

                        <!-- Get A Quote -->
                        {#<div class="get-a-quote ml-4 mr-3">
                            <a href="#" class="btn uza-btn">Get A Quote</a>
                        </div>#}

                        <!-- Login / Register -->
                        <div class="login-register-btn mx-3">
                            {% if app.user is empty %}
                            <a href="#">Login <span>/ Register</span></a>
                            {% else %}
                                <span>{{ app.user.username }}</span> / <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Nav End -->

                </div>
            </nav>
        </div>
    </div>
</header>
